{{> heads }}
    
{{> navbar }}

<div class="row"> 
    <div class="col-md-2">
        <h1>Acerca de</hi>
    </div>
    <di class="col-md-2">
        <img src="assets/img/imagen1.png" class="img-thumbnail"> 
    </di>

</div>

{{> footer }}